.slider {
  width: 62px;
  min-height: 12px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

@media (min-width: $desktop-width) {
  .slider {
    display: none;
  }
}
