.slider-button {
  display: block;
  width: 9px;
  height: 9px;
  padding: 3px 0;
  background-color: rgba(0, 0, 0, 0.3);
  border: 0;
  outline: inherit;
  border-radius: 50%;
}

.slider-button--active {
  display: block;
  width: 12px;
  height: 9px;
  background-color: inherit;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 50%;
}

.slider-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.slider-button:active {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.slider-button--active:hover,
.slider-button--active:active {
  background-color: inherit;
}
