.social-icons-list {
  width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 0;
  padding-bottom: 44px;
  margin: 0 auto;
  list-style: none;
}

.social-icons-list__item {
  width: 45px;
  height: 45px;
  border: 3px solid rgba(125, 134, 143, 0.1);
  border-radius: 50%;
}

.social-icons-list__item:hover {
  border: 3px solid rgba(125, 134, 143, 1);
}

.social-icons-list__item:active .social-logo {
  fill: rgba(210, 50, 86, 0.3);
}

@media (min-width: $tablet-width) {
  .social-icons-list {
    margin: 0;
    padding: 10px 15px 0 0;
  }
}

@media (min-width: $tablet-width) {
  .social-icons-list {
    margin: 0;
    padding: 18px 0 0 0;
  }
}
