.social-logo {
  fill: $bright-pink;
  display: block;
  margin: 0 auto;
}

.social-logo--twitter {
  margin-top: 30%;
}

.social-logo--facebook {
  margin-top: 30%;
}

.social-logo--youtube {
  margin-left: 40%;
  margin-top: 32%;
}
